<!-- Begin MailChimp Signup Form --> 
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> 
<style type="text/css"> 
	#mc_embed_signup{
		background:#fff; 
		clear:left; 
		font:14px Helvetica,Arial,sans-serif; 
	}
</style> 

<footer class="site-footer pb-70 bg-gray pt-0">
	<div>
	    <svg class="svg" id="mySVG" width="100%" height="100%">
	        <path class="svgpath" d="M 0 100 Q 80 120 160 100 Q 250 90 330 100 Q 440 130 540 130 Q 640 130 750 100 Q 830 90 1500 100 Q 1350 120 2050 100 Q 2050 75 1500 60 Q 540 60 0 60 Q 0 70 0 100 Z" />
	    </svg>  

	</div>
	<div class="container">
		<div class="row gap-y">
			<div class="col-12 col-md-12 col-lg-6">
				<h6 class="heading-alt text-uppercase fs-14 mb-16 pl-0">
					<img src="/public/images/logo-ex-6.png" alt="logo" width="150">
				</h6>
				<p class="fs-13">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<br>
				<p class="text-light">Copyright © 2017 Company Web Solutions.</p>
			</div>

			<div class="col-12 col-md-4 col-lg-2 pl-30">
				<h6 class="heading-alt text-uppercase fs-14 mb-3">ABOUT</h6>
				<div class="nav flex-column">
					<!-- <a class="nav-link" href="#">Sobre nosotros</a> -->
					<a class="nav-link" href="" target="_blank">About Us</a>
					<a class="nav-link" href="" target="_blank">Privacy Policy</a>
					<a class="nav-link" href="">Terms And Conditions</a>
					<a class="nav-link" href="">Contact Us</a>
				</div>
			</div>

			<div class="col-12 col-md-4 col-lg-3 p-0">
				<h6 class="heading-alt text-uppercase fs-14 mb-3 text-center">SOCIALS</h6>
				<hr>

				<div class="social text-center pt-0">
					<a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
					<a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
					<a class="social-google" href=""><i class="fa fa-google"></i></a>
					<a class="social-instagram" href=""><i class="fa fa-instagram"></i></a>
				</div>
				<br>
			</div>

		</div>
	</div>
</footer>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
	(function($){
		window.fnames = new Array(); 
		window.ftypes = new Array();
		fnames[0]='EMAIL';
		ftypes[0]='email';
		fnames[1]='FNAME';
		ftypes[1]='text';
		fnames[2]='LNAME';
		ftypes[2]='text';
		fnames[3]='BIRTHDAY';
		ftypes[3]='birthday';
	}(jQuery));
	var $mcj = jQuery.noConflict(true);
</script> 