<!-- Begin MailChimp Signup Form --> 
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> 
<style type="text/css"> 
	#mc_embed_signup{
		background:#fff; 
		clear:left; 
		font:14px Helvetica,Arial,sans-serif; 
	}
</style> 

<div class="hidden-sm-down" style="position: relative; bottom: -10px !important;">
  	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
    	<path style="fill:#E2F4FE; overflow: hidden;" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
  	</svg>
</div>
<footer class="site-footer pb-70 bg-gray pt-0" style="background: rgba(255,255,255,0.9); 
	background-image: url(/public/images/white.png); 
	background-size: cover;                     
    background-repeat:   no-repeat;
    background-position: center center;">

	<div class="container">
		<div class="row gap-y">
			<div class="col-12 col-md-12 col-lg-6 card card-body card-shadowed" style="background: rgba(255,255,255, 0.98)">
				<a href="#" class="fs-20 mb-16 pl-0">
					<div class="hidden-sm-up">
						<img class="logo-default" src="/public/images/logo-ex-6.png" alt="logo" width="100px">
						<strong class="fs-20"> Keyframe <span class="text-danger">Visuals</span></strong>
					</div>
					<div class="hidden-sm-down">
						<img class="logo-default" src="/public/images/logo-ex-6.png" alt="logo" width="150px">
						<strong class="fs-25"> Keyframe <span class="text-danger">Visuals</span></strong>
					</div>
				</a>
				<p class="fs-13 pl-30">We are a creative group of people who design influential brands and digital experiences. We also provide business solution to your web related problems. </p>
				<br>
				<p class="text-light pl-30">Copyright © 2019 Keyframe Visuals.</p>
				<br>
			</div>

			<div class="col-12 col-md-4 col-lg-2 pl-40 pt-md-5 card card-body" style="background: rgba(255,255,255, 0.98)">
				<hr class="hidden-sm-up">
				<h6 class="heading-alt text-uppercase fs-14 mb-3">ABOUT</h6>
				<div class="nav flex-column fs-15">
					<!-- <a class="nav-link" href="#">Sobre nosotros</a> -->
					<a class="nav-link" href="" target="_blank">FAQs</a>
					<a class="nav-link" href="" target="_blank">Blogs And Articles</a>
					<a class="nav-link" href="" target="_blank">Privacy Policy</a>
					<a class="nav-link" href="">Terms And Conditions</a>
				</div>

			</div>

			<div class="col-12 col-md-4 col-lg-1 p-0 pt-md-5 hidden-sm-down card card-body" style="background: rgba(255,255,255, 0.98)">
				
			</div>

			<div class="col-12 col-md-4 col-lg-3 p-0 pt-md-5 hidden-sm-down card card-body" style="background: rgba(255,255,255, 0.98)">
				<h6 class="heading-alt text-uppercase fs-14 mb-3 text-center">SOCIALS</h6>
				
				<div class="social text-center pt-0">
					<a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
					<a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
					<a class="social-google" href=""><i class="fa fa-linkedin"></i></a>
					<a class="social-instagram" href=""><i class="fa fa-instagram"></i></a>
				</div>
				<br>
			</div>

			<div class="col-12 col-md-4 col-lg-3 pl-40 pt-md-5 hidden-sm-up card card-body" style="background: rgba(255,255,255, 0.98)">
				<hr>
				<h6 class="heading-alt text-uppercase fs-14 mb-3 text-left">SOCIALS</h6>

				<div class="social">
					<a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
					<a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
					<a class="social-google" href=""><i class="fa fa-linkedin"></i></a>
					<a class="social-instagram" href=""><i class="fa fa-instagram"></i></a>
				</div>
				<br>
			</div>
		</div>
	</div>
</footer>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
	(function($){
		window.fnames = new Array(); 
		window.ftypes = new Array();
		fnames[0]='EMAIL';
		ftypes[0]='email';
		fnames[1]='FNAME';
		ftypes[1]='text';
		fnames[2]='LNAME';
		ftypes[2]='text';
		fnames[3]='BIRTHDAY';
		ftypes[3]='birthday';
	}(jQuery));
	var $mcj = jQuery.noConflict(true);
</script> 