<style type="text/css">

  /* Dropdown-submenu is styles for dropdown with sub menu style is needed*/
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-menu.profile li { 
    border-bottom: 1px solid #efefef;
    padding: 6px;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }



   .hvr-hang:before {
    background-color: #ffbe00;


  }

  .fa{
    font-size: 16px !important;
  }
</style>

<nav class="topbar topbar-inverse topbar-expand-sm topbar-sticky py-50 px-0" id="home">
  <div class="container-fluid px-0">
    <div class="row h-full" style="width: 100%;">
      <div class="col-12 col-lg-4 pt-20 hidden-md-up px-0">
        <button class="topbar-toggler float-right text-dark" style="position: relative; right: -30px !important; padding-top: 10px !important;" aria-label="Toggle navigation">
        &#9776;
        </button>
        <a class="topbar-brand" href="/" style="position: relative; left: -20px !important;">
          <img class="logo-default" src="/public/images/logo-ex-6.png" alt="logo">
          <strong> Keyframe <span class="text-danger">Visuals</span></strong>
        </a>
        
      </div>

      <div class="col-12 col-lg-4 align-self-center hidden-sm-down" style="position: relative; left: -50px !important;">
        <button class="topbar-toggler float-right text-dark" style="position: relative; right: -100px !important; padding-top: 30px !important;" aria-label="Toggle navigation">
        &#9776;
        </button>
        <a class="navbar-brand" href="#" data-scrollto="home">
          <div><img class="logo-default" src="/public/images/logo-ex-6.png" alt="logo" width="100px"><strong> Keyframe <span class="text-danger">Visuals</span></strong></div>
        </a> 
      </div>

      <!-- NAVBAR ITEMS FOR MEDIUM SCREEN SIZE DEVICE -->
      <div class="col-1 col-lg-8 text-md-right"">
        <ul class="topbar-nav topbar-nav__main nav fs-13 pt-30">
          <li class="nav-item"><a class="hvr-hang nav-link text-dark hvr-underline-from-left" href="#" data-scrollto="section-content"> WHY CHOOSE US?<!-- FITNESS OPTIONS--> </a></li>
          <li class="nav-item"><a class="hvr-hang nav-link text-dark hvr-underline-from-left" href="#" data-scrollto="section-services">OUR SERVICES</a></li> 
          <li class="nav-item"><a class="hvr-hang nav-link text-dark hvr-underline-from-left" href="#" data-scrollto="section-portfolio">PORTFOLIO</a></li> 
          <li class="nav-item"><a class="hvr-hang nav-link text-dark hvr-underline-from-left" href="#" data-scrollto="section-contactus">
            CONTACT US 
          </a></li> 

          <li class="nav-item d-none d-md-none d-sm-none d-lg-block ml-30">
            <a class="nav-link hvr-underline-from-left hvr-hang text-dark">|</a> 
          </li>
          <li class="nav-item d-none d-md-none d-lg-block">
            <a class="social nav-link hvr-hang text-primary" href="https://www.facebook.com/keyframevisualsPH" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item d-none d-md-none d-lg-block">
            <a class="social nav-link hvr-hang text-primary" href="https://twitter.com/KeyframeVsls" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item d-none d-md-none d-lg-block">
            <a class="social nav-link hvr-hang text-primary" href="https://www.linkedin.com/company/keyframevisuals//" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="nav-item d-none d-md-none d-lg-block">
            <a class="social nav-link hvr-hang text-primary" href=""><i class="fa fa-instagram"></i></a>
          </li>

          <li class="nav-item d-lg-none d-none d-sm-block d-md-none d-block social-min">
            <hr>
            <a href="https://www.facebook.com/keyframevisualsPH" target="_blank">
            <i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/KeyframeVsls" target="_blank">
            <i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/keyframevisuals/" target="_blank">
            <i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/keyframe.visuals/" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <!-- // END OF NAVBAR ITEMS FOR MEDIUM SCREEN SIZE DEVICE -->

    </div>
  </div>
</nav> 