<section class="section overflow-hidden hidden-sm-down" id="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify pt-md-2"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"><i class="fa fa-users"></i> <font style="vertical-align: inherit;">WE ARE YOUR MARKETING TEAM!</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Start-ups and small businesses have unique and particular marketing needs. That’s why we offer a range of marketing services specifically tailored to the needs (and budgets) of smaller organizations. Our range of small business marketing solutions are designed to increase awareness, reputation, and trust in the minds of your audience. </font></font></p>

            <a href="#" data-scrollto="section-team" class="btn btn-round btn-danger mt-3">
              View Individual Team Members
            </a>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/team.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/values.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br><br><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-globe"></i> <font style="vertical-align: inherit;">ABOUT US</font></font></h4>
            <p class="scrollto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> We are a dynamic team of creatives comprised of marketing, design, web and application development, video production, Customer service and virtual assistants. We provide marketing services to startups and small-to-medium businesses looking for a help for their digital media, design, lead generation, and communications requirements. We like to take challenges to be 1 step ahead of things to provide you the excellence you deserve. </font></font></p>

            <a href="#" data-scrollto="section-contactus" class="btn btn-round btn-danger mt-3">
                Start Project with Us
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="row pt-100">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-star"></i> <font style="vertical-align: inherit;">OUR MISSION</font></font></h4>
            <p>Our mission is very simple: To make you stand out to your competition. Keyframe Visuals was founded on the premise that companies of all sizes and budgets should be able to access the lateset trends and brilliant ideas and techs for marketing, sales, design, and web development. Every company has a story to tell. We love to know your story and delivering where your customers are. </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/experience.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>    
    </div>
  </div>
  <br>
</section>

<section class="section overflow-hidden hidden-sm-up" id="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"><i class="fa fa-users"></i> <font style="vertical-align: inherit;">WE ARE YOUR MARKETING TEAM!</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Start-ups and small businesses have unique and particular marketing needs. That’s why we offer a range of marketing services specifically tailored to the needs (and budgets) of smaller organizations. Our range of small business marketing solutions are designed to increase awareness, reputation, and trust in the minds of your audience. </font></font></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/team.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-globe"></i> <font style="vertical-align: inherit;">ABOUT US</font></font></h4>
            <p class="scrollto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">  We are a dynamic team of creatives comprised of marketing, design, web and application development, video production, Customer service and virtual assistants. We provide marketing services to startups and small-to-medium businesses looking for a help for their digital media, design, lead generation, and communications requirements. We like to take challenges to be 1 step ahead of things to provide you the excellence you deserve. </font></font></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/values.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      

    </div>
    <div class="row pt-20">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-star"></i> <font style="vertical-align: inherit;">OUR MISSION</font></font></h4>
            <p>Our mission is very simple: To make you stand out to your competition. Keyframe Visuals was founded on the premise that companies of all sizes and budgets should be able to access the lateset trends and brilliant ideas and techs for marketing, sales, design, and web development. Every company has a story to tell. We love to know your story and delivering where your customers are. </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/experience.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-12 text-center" style="margin-top: 40px">      
    <a href="#" data-scrollto="section-team" class="btn btn-round btn-danger">
      View Individual Team Members
    </a>
  </div>
</section>