<section class="section overflow-hidden hidden-md-down" id="section-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 pt-50" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/history.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div>
          <div class="about-box-text pt-md-2 fs-17 text-left"><div class="hidden-sm-down"><br><br><br><br></div>
            <div class="text-left text-justify">
              <h4 class="text-gray-dark fs-30 text-capitalize"><font style="vertical-align: inherit;"> <img src="/public/images/stats_histogram.png" class="img-fluid w-100"> <font style="vertical-align: inherit;">We are your marketing team!</font></font></h4>
              <p class="text-justify pl-30"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Start-ups and small businesses have unique and particular marketing needs. That’s why we offer a range of marketing services specifically tailored to the needs (and budgets) of smaller organizations. Our range of small business marketing solutions are designed to increase awareness, reputation, and trust in the minds of your audience. </font></font></p>
            </div>

            <a href="#" data-scrollto="section-team" class="btn btn-round text-capitalize btn-main btn-lg text-white hvr-hang mt-3 ml-30">
              View Individual Team Members
            </a>

          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div>
          <div class="about-box-text text-left "><div class="hidden-sm-down"><br><br><br><br><br></div>
            <div class="fs-17 text-justify text-left">
              <h4 class="text-gray-dark fs-30"><font style="vertical-align: inherit;"> <img src="/public/images/focus_group.png" class="img-fluid w-100"> <font style="vertical-align: inherit;">About Us</font></font></h4>
              <p class="text-justify pl-30"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> We are a dynamic team of creatives comprised of marketing, design, web and application development, video production, Customer service and virtual assistants. We provide marketing services to startups and small-to-medium businesses looking for a help for their digital media, design, lead generation, and communications requirements. We like to take challenges to be 1 step ahead of things to provide you the excellence you deserve. </font></font></p>
            </div>
            

            <a href="#" data-toggle="modal" data-target="#startProjectWithUs" class="btn btn-round text-capitalize btn-main btn-lg text-white hvr-hang mt-3 ml-30">
                Start Project with Us
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 pt-140 px-40" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/team.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-70">
      <div class="col-lg-6 col-md-12 pt-30" data-aos="fade-up" data-aos-duration="700">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/experience.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>  

      <div class="col-lg-6 col-md-12 pt-30">
        <div>
          <div class="about-box-text text-left"><div class="hidden-sm-down"><br><br></div>
            <div class="fs-17 text-justify">
              <h4 class="text-gray-dark fs-30"><font style="vertical-align: inherit;"> <img src="/public/images/3d_group.png" class="img-fluid w-100"> <font style="vertical-align: inherit;">Our Mission</font></font></h4>
              <p class="text-justify pl-30">Our mission is very simple: To make you stand out to your competition. Keyframe Visuals was founded on the premise that companies of all sizes and budgets should be able to access the lateset trends and brilliant ideas and techs for marketing, sales, design, and web development. Every company has a story to tell. We love to know your story and delivering where your customers are. </p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>

<section class="section overflow-hidden hidden-lg-up" id="section-content-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark fs-20"><font style="vertical-align: inherit;"><img src="/public/images/stats_histogram.png" class="img-fluid w-50"> <font style="vertical-align: inherit;">We are your marketing team!</font></font></h4>
            <p class="px-20 fs-16"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Start-ups and small businesses have unique and particular marketing needs. That’s why we offer a range of marketing services specifically tailored to the needs (and budgets) of smaller organizations. Our range of small business marketing solutions are designed to increase awareness, reputation, and trust in the minds of your audience. </font></font></p>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/history.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      
      <div class="col-md-12 text-center px-20" style="margin-top: 40px">      
        <a href="#" data-scrollto="section-team" class="btn btn-round text-capitalize btn-block btn-main btn-lg text-white hvr-hang mt-3">
          View Individual Team Members
        </a>
      </div>

      <div class="col-md-12 col-sm-12 pt-50">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark fs-20"><font style="vertical-align: inherit;"> <img src="/public/images/focus_group.png" class="img-fluid w-50"> <font style="vertical-align: inherit;">About us</font></font></h4>
            <p class="scrollto fs-16 px-20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">  We are a dynamic team of creatives comprised of marketing, design, web and application development, video production, Customer service and virtual assistants. We provide marketing services to startups and small-to-medium businesses looking for a help for their digital media, design, lead generation, and communications requirements. We like to take challenges to be 1 step ahead of things to provide you the excellence you deserve. </font></font></p>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/team.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <br>
      <div class="col-md-12 text-center px-20" style="margin-top: 40px">      
        <a href="#" data-toggle="modal" data-target="#startProjectWithUs" class="btn btn-round text-capitalize btn-main btn-lg text-white hvr-hang mt-3 btn-block">
            Start Project with Us
        </a>
      </div>

    </div>
    <div class="row pt-70">
      <div class="col-md-12 col-sm-12">
        <div>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark fs-20"><font style="vertical-align: inherit;"> <img src="/public/images/3d_group.png" class="img-fluid w-50"> <font style="vertical-align: inherit;">OUR MISSION</font></font></h4>
            <p class="px-20 fs-16">Our mission is very simple: To make you stand out to your competition. Keyframe Visuals was founded on the premise that companies of all sizes and budgets should be able to access the lateset trends and brilliant ideas and techs for marketing, sales, design, and web development. Every company has a story to tell. We love to know your story and delivering where your customers are. </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/experience.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>