<header class="header header-inverse main-header prof-header hidden-sm-down" 
	style="background: rgba(255,255,255,0.9); 
	background-image: url(/public/images/header.png), 
	url(/public/images/white.jpg); 
	background-size: cover;                     
    background-repeat:   no-repeat;
    background-position: center center;   
    ">
	<!--
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
		clip-path: polygon(0 35%, 100% 0, 100% 95%, 0 100%);
	-->
	<div class="container text-left py-150" data-aos="fade-up" data-aos-duration="700">
		<div class="row h-full">
			<div class="col-12  align-self-left px-4">
				<h2 class="fs-60">We <strong>Bring</strong> Your</h2>
				<h2 class="fs-60">Vision <strong>to</strong> <span class="text-warning">Life</span></h2>
				<h1 class="fs-20">
					We are a creative group of people who design influential <br>brands and digital experiences. We also provide business<br> solution to your IT related problems.
				</h1>
				<br>
				<br>

				<div style="z-index: 999999999 !important; position: relative;">

					<a class="btn btn-lg btn-danger hvr-hang" href="#" style="border-radius: 0px; " data-scrollto="section-content">About Us <span class="fa fa-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</header>

<header class="header header-inverse main-header prof-header hidden-md-up" style="background: url(/public/images/header-full.png) no-repeat center center scroll; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;" data-overlay="7">
	<!---->
	<div class="container text-center" id="home">

		<div class="row h-full">
			<div class="col-12 text-left px-30">

				<h2 class="fs-35">We <strong>Bring</strong> Your</h2>
				<h2 class="fs-35">Vision <strong>to</strong> <strong class="text-warning">Life</strong></h2>
				<h1 class="fs-18">
					We are a creative group of people who design influential brands and digital experiences. We also provide business solution to your IT related problems.
				</h1><br>
				<br>

				<div style="z-index: 999999999 !important; position: relative;">

					<a class="btn btn-lg btn-danger" href="#" style="border-radius: 0px; " data-scrollto="section-content">About Us <span class="fa fa-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</header>

