<style>
  .btn-main{
    background: #3a2c5b !important;
    border: none !important;
  }

  body { padding-right: 0 !important }

  .modal-ku {
    width: 750px;
    margin: auto;
  }

  .portfolio-item-img{
    width:  100%;
    height: 140px;
    object-fit: cover !important
  }
</style>

<div style="position: relative; bottom: -10px !important;">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
    <path style="fill:#3C2E45; overflow: hidden;" 
    d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
  </svg>
</div>

<section class="section overflow-hidden team-member pt-50 mt-0" id="section-team" style="background-image: url(public/images/startup-photos2.jpg);" data-overlay="7">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-white">INDIVIDUAL TEAM <span class="text-warning">MEMBERS</span> 
                <h5 class="text-center text-white" style="color:#4f4f4f;">Our team is composed of professional Web Developers, <br>UI/UX Designers and Video Editors.</h5>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-md-4 box text-center py-20">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutSherwin">
                            <img src="/public/images/Developer1.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h3 class="card-title text-gray-dark " style="margin-top: 20px; margin-bottom: 0;">Web Developer <br> <span class="text-dark fs-20 ">Sherwin Dapito</span></h3>
                            <br>
                            <button class="btn btn-block btn-lg btn-main text-white hvr-hang">
                            View Details</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 mt-md-4">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutJJ">
                            <img src="/public/images/Developer3.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h3 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Video Production and Marketing  <br> <span class="text-dark fs-20 ">Jan Joseph Yerro</span></h3><br>
                            <button class="btn btn-block btn-lg btn-main text-white hvr-hang">
                            View Details</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutJM">
                            <img src="/public/images/Developer2.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h3 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">UI/UX Designer <br> <span class="text-dark fs-20">John Mark Obciana</span></h3><br>
                            <button class="btn btn-block btn-lg btn-main text-white hvr-hang">
                            View Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="aboutSherwin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">Sherwin Dapito | <span class="text-warning">Web Developer</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-5 pb-40">
        <div class="media">
          <div class="hidden-sm-down">
            <img src="/public/images/Developer1.jpg" class="img-fluid img-thumbnail" style="width: 200px;"><br>
            <div class="social text-center pt-20">
              <a class="social-facebook" href=""><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
              <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
              <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
            </div>
          </div>

          <div class="media-body text-center">
            <div class="hidden-sm-up">
              <img src="/public/images/Developer1.jpg" class="img-fluid img-thumbnail" style="width: 200px;"><br>
              <div class="social text-center py-20">
                <a class="social-facebook" href=""><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
                <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
                <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
              </div>
            </div>
            <p class="text-dark text-justify pl-md-3">Bachelor of Science in Computer Engineering graduate at <a href="http://slsu.edu.ph" target="_blank">Southern Luzon State University </a>, Lucban, Quezon, Philippines. College of Engineering. Have a working knowledge of OOP and knowledge about the concepts of software design architecture such as MVC and MVVM. Currently working as a freelance web developer for 2 years now while using various software and web technology such as NodeJS, MongoDB, Express and Angular 4/6. Focused working on the backend and know basic frontend such as JQuery, Bootstrap 3/4 and Angular 4/6.</p>
          </div>
        </div>
        <!--
        <br>
          <h5>Contact Details</h5>
          <div class="row">
            <div class="col-md-6">
              <dl>
                <dd><strong>Address:</strong> Tayabas City, Philippines</dd>
                <dd><strong>Birthday:</strong> February 8, 1993</dd>
                <dd><strong>Phone:</strong> +63919-294-2997</dd>
              </dl>
            </div>

            <div class="col-md-6">
              <dl>
                <dd><strong>Skype:</strong> 
                  <a href="mailto:dapito.sherwin@gmail.com" class="pull-right">dapito.sherwin@gmail.com</a>
                </dd>
                <dd><strong>Github:</strong> 
                  <a href="https://github.com/sarwin-github" class="pull-right" target="_blank">//github.com/sarwin-github</a>
                </dd>
                <dd><strong>Contact Mail:</strong>
                  <a href="mailto:dapito.sherwin@yahoo.com" class="pull-right"> dapito.sherwin@yahoo.com</a>
                </dd>
              </dl>
            </div>
          </div>

          <br>

          <dl>
            <dd><h5>Hobbies & Interests</h5></dd>
            <dd><strong>Music:</strong>  Progressive, Hardcore, Alternative, Classic</dd>
            <dd><strong>Art:</strong>  Modern and Classic Arts</dd>
            <dd><strong>Article:</strong> Latest Technological Advancement</dd>
          </dl>

          <br>

          <h5>Previous Works and Creations</h5>

          <div class="media">
            <img src="/public/images/SherwinPortfolio/photography2.jpg" class="img-fluid img-thumbnail portfolio-item-img" style="width: 200px;">
            <div class="media-body pt-10">
              <h6 class="text-gray-dark">Creative Photography Website</h6>
              <p class="text-dark">A Photography Website created using Node JS, Embedded JavaScript (EJS), Bootstrap 4 and JQuery. This Photography website showcases the skill and portfolio of the photographer. </p>
            </div>
          </div>

          <div class="media">
            <img src="/public/images/SherwinPortfolio/restaurantApp.jpg" class="img-fluid img-thumbnail portfolio-item-img" style="width: 200px;">
            <div class="media-body pt-10">
              <h6 class="text-gray-dark">Restaurant Website/Web Application</h6>
              <p class="text-dark">A Sample Restaurant Web App for Kamayan sa Palaisdaan Restaurant, Hotel and Resort where you can check their menu, hotel prices, services and other cool stuff. Created using Angular 6 and Typescript. </p>
            </div>
          </div>

          <div class="media">
            <img src="/public/images/SherwinPortfolio/resume.jpg" class="img-fluid img-thumbnail portfolio-item-img" style="width: 200px;">
            <div class="media-body pt-10">
              <h6 class="text-gray-dark">Resume Website</h6>
              <p class="text-dark">A sample resume website created using Node JS, Embedded JavaScript (EJS), Bootstrap 3 and JQuery.  </p>
            </div>
          </div>-->
          <hr>

          <div class="text-right">
            <a href="http://sherwin-dapito.xyz" target="_blank" class="btn btn-main text-white btn-lg">Check his Website</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutJM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">John Mark Obciana | <span class="text-warning">UI/UX Designer</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media">
          <div class="hidden-sm-down">
            <img src="/public/images/Developer3.jpg" class="img-fluid img-thumbnail" style="width: 200px;"><br>
            <div class="social text-center pt-20">
              <a class="social-facebook" href=""><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
              <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
              <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
            </div>
          </div>

          <div class="media-body text-center">
            <div class="hidden-sm-up">
              <img src="/public/images/Developer2.jpg" class="img-fluid img-thumbnail" style="width: 200px;"><br>
              <div class="social text-center py-20">
                <a class="social-facebook" href=""><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
                <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
                <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
              </div>
            </div>
            <p class="text-dark text-justify pl-md-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutJJ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">Jan Joseph Yerro | <span class="text-warning">Video Production and Marketing</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media">
          <div class="hidden-sm-down">
            <img src="/public/images/Developer3.jpg" class="img-fluid img-thumbnail" style="width: 200px;"><br>
            <div class="social text-center pt-20">
              <a class="social-facebook" href=""><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
              <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
              <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
            </div>
          </div>

          <div class="media-body text-center">
            <div class="hidden-sm-up">
              <img src="/public/images/Developer2.jpg" class="img-fluid img-thumbnail" style="width: 200px;"><br>
              <div class="social text-center py-20">
                <a class="social-facebook" href=""><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
                <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
                <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
              </div>
            </div>
            <p class="text-dark text-justify pl-md-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>