<style>
  .btn-main{
    background: #3a2c5b !important;
    border: none !important;
  }

  body { padding-right: 0 !important }

  .modal-ku {
    width: 750px;
    margin: auto;
  }
</style>

<div style=" position: relative;
               bottom: -10px !important;">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
    <style type="text/css">
            .st0{
              fill:#3C2E45;
               overflow: hidden;
              
            }
    </style>
    <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
  </svg>
</div>

<section class="section overflow-hidden team-member" id="section-team" style="background-image: url(public/images/startup-photos2.jpg);" data-overlay="7">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-lg-2">
                <h2 class="text-center text-white">INDIVIDUAL TEAM <span class="text-warning">MEMBERS</span> 
                <h5 class="text-center text-white" style="color:#4f4f4f;">Our team is composed of professional Web Developers, <br>UI/UX Designers and Video Editors.</h5>
            </div>
        </div>

        <br> <br>

        <div class="row"  data-aos="fade-up" data-aos-duration="700">
            <div class="col-md-4 box text-center py-20">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutSherwin">
                            <img src="/public/images/Developer1.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Web Developer <br> <span class="text-dark fs-20 ">Sherwin Dapito</span></h4>
                            <br>
                            <h5 class="card-title text-dark">An Enthusiastic Web Developer With a Passion for Learning. A coder and a musician who want to learn more, grow and explore the world.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutJM">
                            <img src="/public/images/Developer2.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">UI/UX Designer <br> <span class="text-dark fs-20 ">John Mark Obciana</span></h4><br>
                            <h5 class="card-title text-dark">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutJJ">
                            <img src="/public/images/Developer3.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Video Editor and Marketing  <br> <span class="text-dark fs-20 ">Jan Joseph Yerro</span></h4><br>
                            <h5 class="card-title text-dark">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="aboutSherwin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-gray-dark py-10 pl-20">Sherwin Dapito | <span class="text-dark fs-20 ">Web Developer</span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-50 pb-40">
        <div class="media">
          <img src="/public/images/Developer1.jpg" class="img-fluid img-thumbnail" style="width: 200px;">
          <div class="media-body">
            <p class="text-dark text-justify">A former software developer at Taggs Enterprise Application Manager (TEAM) Global. I was part of the team that developed web application and desktop application for almost two years (1 year and 8 months). I have a working knowledge of OOP and knowledge about the concepts of software design architecture such as MVC and MVVM. Currently working as a freelance web developer for 2 years now using various software and web technology such as NodeJS, MongoDB, Express and Angular 4/6. Focused working on the backend but know basic frontend such as JQuery, Bootstrap 3/4 and Angular 4/6.</p>
          </div>
        </div>
          <h5>Portfolio Items</h5>

          <div>
            <div class="media">
              <img src="/public/images/SherwinPortfolio/photography2.jpg" class="img-fluid img-thumbnail" style="width: 200px;">
              <div class="media-body">
                <h6 class="text-gray-dark">Creative Photography Website</h6>
                <p class="text-dark">A Photography Website created using Node JS, Embedded JavaScript (EJS), Bootstrap 4 and JQuery. This Photography website showcases the skill and portfolio of the photographer. </p>
              </div>
            </div>
          </div>

          <div>
            <div class="media">
              <img src="/public/images/SherwinPortfolio/restaurantApp.jpg" class="img-fluid img-thumbnail" style="width: 200px;">
              <div class="media-body">
                <h6 class="text-gray-dark">Restaurant Website/Web Application</h6>
                <p class="text-dark">A Sample Restaurant Web App for Kamayan sa Palaisdaan Restaurant, Hotel and Resort where you can check their menu, hotel prices, services and other cool stuff. Created using Angular 6 and Typescript. </p>
              </div>
            </div>
          </div>

          <div>
            <div class="media">
              <img src="/public/images/SherwinPortfolio/photography2.jpg" class="img-fluid img-thumbnail" style="width: 200px;">
              <div class="media-body">
                <h6 class="text-gray-dark">Resume Website</h6>
                <p class="text-dark">A sample resume website created using Node JS, Embedded JavaScript (EJS), Bootstrap 3 and JQuery.  </p>
              </div>
            </div>
          </div>
          <br>




          <div class="text-right">
            <a href="http://sherwin-dapito.xyz" target="_blank" class="btn btn-danger">Check his Website</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutJM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About John Mark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutJJ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About Jan Joseph</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>