<section class="section overflow-hidden team-member" id="section-team" style="background-image: url(public/images/startup-photos2.jpg)" data-overlay="4">
    <div class="container pb-40">
        <div class="row">
            <div class="col-12 col-md-8 offset-lg-2">
                <h2 class="text-center text-white">INDIVIDUAL TEAM MEMBERS 
                <hr class="w-50 hidden-sm-down"></h2>
                <h3 class="text-center text-white" style="color:#4f4f4f;">Our team is composed of professional<br> Web Deveopers, UI/UX Designers and Video Editors.</h3>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="700">
                <div class="card card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/Developer1.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h4 class="card-title text-danger" style="margin-top: 20px; margin-bottom: 0;">Web Developer <br> <span class="text-dark">Sherwin Dapito.</span></h4>
                            <br>
                            <h5 class="card-title text-dark">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/Developer2.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h4 class="card-title text-danger" style="margin-top: 20px; margin-bottom: 0;">UI/UX Designer <br> <span class="text-dark">John Mark Obciana.</span></h4><br>
                            <h5 class="card-title text-dark">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="1300">
                <div class="card card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/Developer3.jpg" class="img-fluid img-thumbnail" style="width: 90%;">
                            <h4 class="card-title text-danger" style="margin-top: 20px; margin-bottom: 0;">Video Editor and Marketing  <br> <span class="text-dark">Jan Joseph Yerro.</span></h4><br>
                            <h5 class="card-title text-dark">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="col-md-12 text-center" style="margin-top: 40px">      
        <a href="#" data-scrollto="section-services" class="btn btn-round btn-danger">
            View Our Services
        </a>
    </div>
</section>
