<style>
  .btn-main{
    background: #3a2c5b !important;
    border: none !important;
  }

  body { padding-right: 0 !important }

  .modal-ku {
    width: 750px;
    margin: auto;
  }

  .portfolio-item-img{
    width:  100%;
    height: 140px;
    object-fit: cover !important
  }

  .portfolio-img-team{
        width:  100%;
        height: 280px;
        object-fit: cover !important
    }
</style>

<div style="position: relative; bottom: -10px !important;">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
    <path style="fill:#3C2E45; overflow: hidden;" 
    d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
  </svg>
</div>

<section class="section overflow-hidden team-member pt-50 mt-0" id="section-team" style="background-image: url(public/images/startup-photos2.jpg);" data-overlay="7">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-white">INDIVIDUAL TEAM <span class="text-warning">MEMBERS</span> 
                <h5 class="text-center text-white" style="color:#4f4f4f;">Our team is composed of professional Web Developers, <br>UI/UX Designers and Video Editors.</h5>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-md-4 box text-center py-20">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutSherwin">
                            <img src="/public/images/pix_2.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 95%;">
                            <h3 class="card-title text-gray-dark " style="margin-top: 20px; margin-bottom: 0;">Web Developer <br> <span class="text-dark fs-20 ">Sherwin Dapito</span></h3>
                            <br>
                            <button class="btn btn-block btn-lg btn-main text-white hvr-hang text-capitalize">
                            View Details</button> 
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20  mt-md-4">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutJM">
                            <img src="/public/images/pix_3.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 95%;">
                            <h3 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">UI/UX Designer <br> <span class="text-dark fs-20">John Mark Obciana</span></h3><br>
                            <button class="btn btn-block btn-lg btn-main text-white hvr-hang text-capitalize">
                            View Details</button> 
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20">
                <div class="card card-shadow">
                    <div class="card-block">
                        <a href="#" data-toggle="modal" data-target="#aboutJJ">
                            <img src="/public/images/pix_1.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 95%;">
                            <h3 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Video Production and Marketing  <br> <span class="text-dark fs-20 ">Jan Joseph Yerro</span></h3><br>
                            <button class="btn btn-block btn-lg btn-main text-white hvr-hang text-capitalize">
                            View Details</button> 
                        </a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="aboutSherwin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">Sherwin Dapito | <span class="text-warning">Web Developer</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-5 pb-40">
        <div class="media">
          <div class="hidden-sm-down">
            <img src="/public/images/pix_2.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 275px;"><br>
            <div class="social text-center pt-20">
              <a class="social-facebook" href="https://www.facebook.com/sherwin.dapito" target="_blank"><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href="https://github.com/sarwin-github" target="_blank"><i class="fa fa-github" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href="https://www.linkedin.com/in/sherwin-dapito-20baa4126/" target="_blank"><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
              <a class="social-google" href="https://www.instagram.com/sherwindapito/" target="_blank"><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
            </div>
          </div>

          <div class="media-body text-center">
            <div class="hidden-sm-up">
              <img src="/public/images/pix_2.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 250px;"><br>
              <div class="social text-center pt-20">
                <a class="social-facebook" href="https://www.facebook.com/sherwin.dapito" target="_blank"><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href="https://github.com/sarwin-github" target="_blank"><i class="fa fa-github" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href="https://www.linkedin.com/in/sherwin-dapito-20baa4126/" target="_blank"><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
                <a class="social-google" href="https://www.instagram.com/sherwindapito/" target="_blank"><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
              </div>
            </div>
            <p class="text-dark text-justify pl-md-3"><strong>Sherwin</strong> is the <strong>Co-Founder</strong> of <strong>Keyframe Visuals</strong>. Sherwin is focused in developing Websites and Web Application using the Popular <strong>MEAN stack (Mongo, Express, Angular 6, Node JS)</strong> and deploying them in Heroku or Amazon Web Services. He can also use Wordpress but he mostly use the MEAN stack for more customization and versatility. Writing clean code with a proper design pattern is his key for implementing projects and ideas successfully.</p>
          </div>
        </div>

          <hr>

          <div class="text-right">
            <a href="http://sherwin-dapito.xyz" target="_blank" class="btn btn-main text-white btn-lg">Check his Website</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutJJ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">Jan Joseph Yerro | <span class="text-warning">Video Production and Marketing</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media">
          <div class="hidden-sm-down">
            <img src="/public/images/pix_1.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 250px;"><br>
            <div class="social text-center pt-20">
              <a class="social-facebook" href="https://www.facebook.com/jjyerro" target="_blank"><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href="https://twitter.com/JanYerro" target="_blank"><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href="https://www.linkedin.com/in/jan-joseph-yerro-042692a9/" target="_blank"><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
              <a class="social-google" href="https://www.instagram.com/jjyerro17/" target="_blank"><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
            </div>
          </div>

          <div class="media-body text-center">
            <div class="hidden-sm-up">
              <img src="/public/images/pix_1.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 250px;"><br>
              <div class="social text-center pt-20">
                <a class="social-facebook" href="https://www.facebook.com/jjyerro" target="_blank"><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href="https://twitter.com/yerrojj" target="_blank"><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href="https://www.linkedin.com/in/jan-joseph-yerro-042692a9/" target="_blank"><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
                <a class="social-google" href="https://www.instagram.com/jjyerro17/" target="_blank"><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
              </div>
            </div>
            <p class="text-dark text-justify pl-md-3">Jan is the <strong>Founder</strong> and <strong>Digital Marketer at Keyframe Visuals</strong>. A digital marketing agency based in Philippines. With a background in <strong>Corporate Video Production and Motion Graphics Design</strong>, Jan now specializes in Digital Marketing for small-to-medium sized businesses. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="aboutJM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">John Mark Obciana | <span class="text-warning">UI/UX Designer</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media">
          <div class="hidden-sm-down">
            <img src="/public/images/pix_3.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 250px;"><br>
            <div class="social text-center pt-20">
              <a class="social-facebook" href="https://www.facebook.com/profile.php?id=100009223605695" target="_blank"><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
              <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
              <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
              <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
            </div>
          </div>

          <div class="media-body text-center">
            <div class="hidden-sm-up">
              <img src="/public/images/pix_3.jpg" class="img-fluid img-thumbnail portfolio-img-team" style="width: 250px;"><br>
              <div class="social text-center py-20">
                <a class="social-facebook" href="https://www.facebook.com/profile.php?id=100009223605695" target="_blank"><i class="fa fa-facebook-official" style="font-size: 20px !important;"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter" style="font-size: 20px !important;"></i></a>
                <a class="social-google" href=""><i class="fa fa-linkedin" style="font-size: 20px !important;"></i></a>
                <a class="social-instagram" href=""><i class="fa fa-instagram" style="font-size: 20px !important;"></i></a>
              </div>
            </div>
            <p class="text-dark text-justify pl-md-3"><strong>John Mark</strong> is the newest addition to the Keyframe Visuals family. John is a <strong>UI/UX and Graphic Designer</strong> who specializes in <strong>Website Design, UI/UX Design, Creating Identities, and Branding</strong>. Being a bit of a perfectionist, he always has an eye for details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>