<style>
    .portfolio-img{
        width:  100%;
        height: 240px;
        object-fit: cover !important
    }
</style>

<section class="section overflow-hidden team-member" id="section-portfolio" style="background-image: url(public/images/startup-photos3.jpg)" data-overlay="6">
    <div class="container pb-40">
        <div class="row">
            <div class="col-12 pb-30">

                <h2 class="text-center text-white text-uppercase">Featured <span class="text-warning">Works</span> </h2>
                <h5 class="text-capitalize text-white text-center">Previous Works and Creation</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="700">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/SherwinPortfolio/photography2.jpg" class="img-fluid portfolio-img">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Photography Website</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="700">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/SherwinPortfolio/restaurantApp.jpg" class="img-fluid portfolio-img">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Restaurant Website</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/SherwinPortfolio/dentistry.jpg" class="img-fluid portfolio-img">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Dentistry Website</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                
            </div>

            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec4.jpg" class="img-fluid portfolio-img">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec4.jpg" class="img-fluid portfolio-img">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                
            </div>
        </div>
    </div>
</section>
