<style>
    .portfolio-img{
        width:  100%;
        height: 240px;
        object-fit: cover !important
    }

    
</style>

<div class="hidden-sm-down" style="position: relative; bottom: -10px !important;">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
        <path style="fill:#2E4372; overflow: hidden;" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
    </svg>
</div>

<section class="section overflow-hidden team-member pt-20 mt-0" id="section-portfolio" style="background-image: url(public/images/startup-photos3.jpg)" data-overlay="5">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
            <div class="col-12 pb-30">
                <h2 class="text-center text-white text-uppercase">Featured <span class="text-warning">Works</span> </h2>
                <h5 class="text-capitalize text-white text-center">Previous Works and Creation</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 box text-center py-20">
                <div class="card card-bordered card-shadowed">
                    <div class="card-block">
                        <a href="https://zaspix.herokuapp.com/" target="_blank">
                            <img src="/public/images/SherwinPortfolio/photography2.jpg" class="img-fluid portfolio-img img-thumbnail">
                            <h4 class="text-gray-dark fs-20" style="margin-top: 20px; margin-bottom: 0;">ZASPiX Photography Website</h4>
                            <p class="text-justify fs-14 pt-2 text-light fw-500">A Creative Photography Website for showcasing the skills and gallery of the Photographer</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 mt-md-4">
                <div class="card card-bordered card-shadowed">
                    <div class="card-block">
                        <a href="http://kamayan-sa-palaisdaan-ph.herokuapp.com/" target="_blank">
                            <img src="/public/images/SherwinPortfolio/restaurantApp.jpg" class="img-fluid portfolio-img img-thumbnail">
                            <h4 class="text-gray-dark fs-20" style="margin-top: 20px; margin-bottom: 0;">Kamayan Sa Palaisdaan Website</h4>
                            <p class="text-justify fs-14 pt-2 text-light fw-500">An engaging sample Restaurant Website for the one of the most popular native eatery here in the Philippines</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20">
                <div class="card card-bordered card-shadowed">
                    <div class="card-block">
                        <a href="http://minerva-platform.herokuapp.com/databoxes" target="_blank">
                            <img src="/public/images/SherwinPortfolio/minerva.jpg" class="img-fluid portfolio-img img-thumbnail">
                            <h4 class="text-gray-dark fs-20" style="margin-top: 20px; margin-bottom: 0;">Minerva Platform</h4>
                            <p class="text-justify fs-14 pt-2 text-light fw-500">A Frontend implementation based on a wireframe given for a Data-Mining Web Application</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20">
                <div class="card card-bordered card-shadowed">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec4.jpg" class="img-fluid portfolio-img img-thumbnail">
                            <h4 class="text-gray-dark fs-20" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4>
                            <p class="text-left fs-14 pt-2 text-light fw-500">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 mt-md-4">
                <div class="card card-bordered card-shadowed">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec4.jpg" class="img-fluid portfolio-img img-thumbnail">
                            <h4 class="text-gray-dark fs-20" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4>
                            <p class="text-left fs-14 pt-2 text-light fw-500">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20">
                <div class="card card-bordered card-shadowed">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec4.jpg" class="img-fluid portfolio-img img-thumbnail">
                            <h4 class="text-gray-dark fs-20" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4>
                            <p class="text-left fs-14 pt-2 text-light fw-500">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
