<section class="section overflow-hidden team-member" id="section-portfolio" style="background-image: url(public/images/startup-photos3.jpg)" data-overlay="6">
    <div class="container pb-40">
        <div class="row">
            <div class="col-12 col-md-8 offset-lg-2">
                <h2 class="text-center text-white text-uppercase">Featured <span class="text-warning">Works</span> 
                <hr class="w-50 hidden-sm-down"></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 box text-center py-20" data-aos="fade-up" data-aos-duration="700">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec.jpg" class="img-fluid" style="width: 300px; border: 2px solid #e2e2e2; border-radius: 80px;">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec2.jpg" class="img-fluid" style="width: 300px; border: 2px solid #e2e2e2; border-radius: 80px;">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 box text-center py-20" data-aos="fade-up" data-aos-duration="700">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec3.jpg" class="img-fluid" style="width: 300px; border: 2px solid #e2e2e2; border-radius: 80px;">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/home_sec4.jpg" class="img-fluid" style="width: 300px; border: 2px solid #e2e2e2; border-radius: 80px;">
                            <h4 class="card-title text-white" style="margin-top: 20px; margin-bottom: 0;">Portfolio Name</h4><br>
                            <h5 class="card-title text-white">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
