<section class="section overflow-hidden" id="section-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-gray-dark">OUR SERVICES</h2>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="700">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/web-development.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Web Development</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/graphics-design.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">UI/UX Design</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="1300">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/marketing.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Content Marketing</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="1600">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/brand-design.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Branding</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="700">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/customer-support.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Social Media Manager</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="1000">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/creative-idea.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Creative Idea</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="1300">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/video-prod.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Corporate Video Production</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20" data-aos="fade-up" data-aos-duration="1600">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/conversion.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Conversion Rate Optimization</h4><hr>
                            <h5 class="card-title text-light">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>
            
            <br>
            <div class="col-md-12 text-center" style="margin-top: 40px">      
                <a href="#" data-toggle="modal" data-target="#startProjectWithUs" class="btn btn-round text-capitalize btn-main btn-lg text-white hvr-hang mt-3 ml-30">
                    Start Project with Us
                </a>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="startProjectWithUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">Start Project With Us</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>