<section class="section overflow-hidden pb-0" id="section-services">
    <div class="container-fluid mx-md-5 px-md-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
            <div class="col-md-4 pt-md-5 mt-md-5 pr-md-5">

                <h1 class="text-gray-dark">Our Services</h1>
                <h5 class="text-capitalize">List of Services We Offer</h5>
                <br>
                <div class="hidden-md-down">
                    <p class="text-dark fw-500 fs-18 text-justify">We are a dynamic team of creatives comprised of marketing, design, web and application development, video production, Customer service and virtual assistants. </p>
                    
                    <p class="text-dark fs-18 text-justify">We provide marketing services to startups and small-to-medium businesses looking for a help for their digital media, design, lead generation, and communications requirements. We like to take challenges to be 1 step ahead of things to provide you the excellence you deserve.</p>
                </div>

                <div class="hidden-md-up">
                    <p class="text-dark fw-500 fs-15 text-justify">We are a dynamic team of creatives comprised of marketing, design, web and application development, video production, Customer service and virtual assistants. </p>
                    
                    <p class="text-dark fs-15 text-justify">We provide marketing services to startups and small-to-medium businesses looking for a help for their digital media, design, lead generation, and communications requirements. We like to take challenges to be 1 step ahead of things to provide you the excellence you deserve.</p>
                </div>
                
                <a href="#" data-toggle="modal" data-target="#startProjectWithUs" class="btn btn-round text-capitalize btn-main btn-lg text-white hvr-hang mt-3 hidden-sm-down">
                    Start Project with Us
                </a>

                <div class="px-3 hidden-sm-up mb-5 pb-50">
                    <a href="#" data-toggle="modal" data-target="#startProjectWithUs" class="btn btn-round text-capitalize btn-main btn-lg text-white hvr-hang mt-3 mb-4 btn-block">
                        Start Project with Us
                    </a>
                </div>
            </div>
            <div class="col-md-8" style="background-image: url(public/images/dots.png);  ">
                <div class="row">
                    <div class="col-md-4 box equal text-center py-20">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/web-development.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Web Design & Development</h4>
                                    <p class="text-light text-justify fw-500 pt-2">We design and develop beautiful websites. Our goal is to make it engaging, with a clean & well maintained code and optimized for conversions</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box equal text-center py-20 mt-md-5">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/graphics-design.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">UI/UX Design</h4>
                                    <p class="text-light text-justify fw-500 pt-2">We can turn your ideas into mock ups or wireframes and provide you a prototype of what your product would look like. So, you can have a better understanding of how much resources you need to provide in order to build it</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box equal text-center py-20">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/marketing.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Content Marketing</h4>
                                    <p class="text-light text-justify fw-500 pt-2">Our digital strategies will help you reach out the right audience at the right time including finding clients for your businesses</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box equal text-center py-20">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/brand-design.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Branding</h4>
                                    <p class="text-light text-justify fw-500 pt-2">Branding offers a company an advantage over the competition. We create your own branding to stand out among others</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box equal text-center py-20 mt-md-5">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/customer-support.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Social Media Paid Advertising</h4>
                                    <p class="text-light text-justify fw-500 pt-2">Our ad campaign will bring you the results you’re looking for. We have the tools to help ad campaign more effective for your business</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box equal text-center py-20">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/creative-idea.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Creative Ideas & Animation</h4>
                                    <p class="text-light text-justify fw-500 pt-2">We create Professional Animated Explainer Videos or eLearning Videos that make your business easy to understand and help you achieve higher conversions in sales</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box equal text-center py-20">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/video-prod.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Corporate Video Production</h4>
                                    <p class="text-light text-justify fw-500 pt-2">We cater to different kinds of projects, such as event videos, text animations, home videos, blogs, corporate or educational footage, even TV productions or commercials and independent films are welcome, We have professional video editors that are ready to assist you</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 box equal text-center py-20 mt-md-5">
                        <div class="card card-bordered card-shadowed px-0">
                            <div class="card-block">
                                <a href="#">
                                    <img src="/public/images/conversion.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                    <h4 class="card-title text-gray-dark" style="margin-top: 20px; margin-bottom: 0;">Conversion Rate Optimization</h4>
                                    <p class="text-light text-justify fw-500 pt-2">We can convert your website visitors and social media reached and engagement into potential or future clients</p>
                                </a>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="startProjectWithUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <h4 class="modal-title text-white py-10 pl-20">Start Project With Us</span></h4>
        <button type="button" class="close pr-30" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>