<section class="section overflow-hidden" id="section-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5 class="text-uppercase">Testimonials</h5>
                <h2 class="text-uppercase text-gray-dark">What our Customers Says</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center py-20">
                <div id="carouselCo" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-block">
                                <img src="/public/images/Client1.jpg" class="img-fluid" style="width: 120px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark mt-20">Mary Johnson</h4>
                                <h1 class="card-title text-dark">United States</h1><hr>
                                <h5 class="card-title fw-200 text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-block">
                                <img src="/public/images/Client2.jpg" class="img-fluid" style="width: 120px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark mt-20">David Gunner</h4>
                                <h1 class="card-title text-dark">Costa Rica</h1><hr>
                                <h5 class="card-title fw-200 text-left text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-block">
                                <img src="/public/images/Client3.jpg" class="img-fluid" style="width: 120px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark mt-20">Amy Margarette</h4>
                                <h1 class="card-title text-dark">United States</h1>
                                <hr>
                                <h5 class="card-title fw-200 text-left text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
                            </div>
                        </div>
                    </div>
                  </div>

                  <a class="carousel-control-prev bg-blue" href="#carouselCo" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only fa fa-arrow-left">Previous</span>
                  </a>
                  <a class="carousel-control-next bg-blue" href="#carouselCo" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only fa fa-arrow-left">Next</span>
                  </a>
                </div>
            </div>

            <br>
            <div class="col-md-12 text-center" style="margin-top: 40px">      
                <a  href="#" data-scrollto="section-contactus" class="btn btn-round btn-danger">
                    Start Project with Us
                </a>
            </div>
        </div>
    </div>
</section>